* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --s: 104px;
}
.wrapper {
  padding-top: 38px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-wrp {
  width: 1170px;
  margin: auto;
  padding-top: 30px;
  padding: 0 15px;
}

.logo {
  float: left;
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  text-decoration: none;
  margin: 30px 0;
  padding: 0 15px;
}
.logo::first-letter {
  color: rgb(26, 188, 156);
}

.menu {
  float: right;
  list-style: none;
  margin: 40px 0;
  padding: 0 15px;
}
.menu-item {
  float: left;
}

.menu-link {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.menu-link:hover {
  color: rgb(26, 188, 156);
}
.slider-img {
  /* margin: auto;
  display: block; */
  height: 600px;
  width: 100%;
  z-index: 1;
}
.slider-wrp {
  position: relative;
  height: 600px;
  margin-bottom: 100px;
}

.slider {
  width: 1170px;
  margin: auto;
  height: 110px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.btn {
  width: var(--s);
  height: var(--s);
  background-color: rgb(26, 188, 156);
  opacity: 0.45;
  position: relative;
}

.btn-left {
  float: left;
  z-index: 10;
}
.btn-right {
  float: right;

  z-index: 10;
}
.btn:hover {
  opacity: 1;
}

.arrow {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
.arrow-left {
  transform: rotate(45deg);
  top: 36px;
  left: 43px;
}

.arrow-right {
  top: 36px;
  right: 43px;
  transform: rotate(220deg);
}

.img-title {
  font-family: sans-serif;
  float: left;
  color: white;
  text-transform: uppercase;
  margin: 0 60px;
}

.img-title .row1{
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 25px;
  line-height: 1;
}
.img-title .row2{
  opacity: 0.45;
}

.list-card{
  margin: auto;
  padding: 0 15px;
  width: 1170px;
}
.title {
  text-align: center;
  margin: auto;
  font-size: 48px;
  color: #515151;
  font-weight: 900;
}

.title::after {
  content: "";
  display: block;
  margin:  auto;
  margin-top: 32px;
  margin-bottom: 90px;
  width: 160px;
  height: 7px;
  background-color: aqua;
}

