label {
  display: block;
}
button {
  display: none;
}
@font-face {
  font-family: "ALIN_KID";
  src: url("tf_fonts/Fancy_Cartoon/ALIN_KID/en/ALIN_KID.ttf") format("truetype"); /* Modern Browsers */
}
@font-face {
  font-family: "BABYCAKE";
  src: url("tf_fonts/Fancy_Cartoon/BABYCAKE/en/BABYCAKE.ttf") format("truetype");
}
@font-face {
  font-family: "BOYZRGRO";
  src: url("tf_fonts/Fancy_Cartoon/BOYZRGRO/en/BOYZRGRO.ttf") format("truetype");
}
@font-face {
  font-family: "Bloodn Guts";
  src: url("tf_fonts/Fancy_Cartoon/Bloodn Guts/en/Bloodn Guts.ttf") format("truetype");
}
@font-face {
  font-family: "Buka Bird";
  src: url("tf_fonts/Fancy_Cartoon/Buka Bird/en/Buka Bird.ttf") format("truetype");
}
@font-face {
  font-family: "CUTE_ANIMAL";
  src: url("tf_fonts/Fancy_Cartoon/CUTE_ANIMAL/en/CUTE_ANIMAL.ttf") format("truetype");
}
@font-face {
  font-family: "campkidz by ratticsassin";
  src: url("tf_fonts/Fancy_Cartoon/Campkidz /en/campkidz by ratticsassin.ttf")
    format("truetype");
}
@font-face {
  font-family: "Candles_";
  src: url("tf_fonts/Fancy_Cartoon/Candles/en/Candles_.TTF") format("truetype");
}
@font-face {
  font-family: "Candy_Pop!-demo-font";
  src: url("tf_fonts/Fancy_Cartoon/Candy Pop/en/Candy_Pop!-demo-font.ttf")
    format("truetype");
}
@font-face {
  font-family: "Carton_Six";
  src: url("tf_fonts/Fancy_Cartoon/Carton_Six/en/Carton_Six.ttf") format("truetype");
}
@font-face {
  font-family: "Chunq";
  src: url("tf_fonts/Fancy_Cartoon/Chunq/en/Chunq.ttf") format("truetype");
}
@font-face {
  font-family: "Comica BD";
  src: url("tf_fonts/Fancy_Cartoon/Comica BD/en/Comica BD.ttf") format("truetype");
}
@font-face {
  font-family: "Cute Cartoon";
  src: url("tf_fonts/Fancy_Cartoon/Cute Cartoon/en/Cute Cartoon.ttf") format("truetype");
}
@font-face {
  font-family: "DESIB___";
  src: url("tf_fonts/Fancy_Cartoon/DESIB/en/DESIB___.TTF") format("truetype");
}
@font-face {
  font-family: "Dbbrnms";
  src: url("tf_fonts/Fancy_Cartoon/Dbbrnms/en/Dbbrnms.ttf") format("truetype");
}
@font-face {
  font-family: "Delusional";
  src: url("tf_fonts/Fancy_Cartoon/Delusional/en/Delusional.ttf") format("truetype");
}
@font-face {
  font-family: "Dynamix";
  src: url("tf_fonts/Fancy_Cartoon/Dynamix/en/Dynamix.ttf") format("truetype");
}
@font-face {
  font-family: "Extra Sales";
  src: url("tf_fonts/Fancy_Cartoon/Extra Sales/en/Extra Sales.ttf") format("truetype");
}
@font-face {
  font-family: "flintstone";
  src: url("tf_fonts/Fancy_Cartoon/Flintstone/en/flintstone.ttf") format("truetype");
}
@font-face {
  font-family: "Folia Mix Regular";
  src: url("tf_fonts/Fancy_Cartoon/Folia Mix Regular/en/Folia Mix Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Fun Smiles";
  src: url("tf_fonts/Fancy_Cartoon/Fun Smiles/en/Fun Smiles.ttf") format("truetype");
}
@font-face {
  font-family: "GOOD TIME";
  src: url("tf_fonts/Fancy_Cartoon/GOOD TIME/en/GOOD TIME.ttf") format("truetype");
}
@font-face {
  font-family: "Godzilla";
  src: url("tf_fonts/Fancy_Cartoon/Godzilla/en/Godzilla.ttf") format("truetype");
}
@font-face {
  font-family: "GrinchedRegular";
  src: url("tf_fonts/Fancy_Cartoon/GrinchedRegular/en/GrinchedRegular.ttf")
    format("truetype");
}
@font-face {
  font-family: "GROBOLD";
  src: url("tf_fonts/Fancy_Cartoon/Grobold/en/GROBOLD.ttf") format("truetype");
}
@font-face {
  font-family: "IRONMAN";
  src: url("tf_fonts/Fancy_Cartoon/IRONMAN/en/IRONMAN.TTF") format("truetype");
}
@font-face {
  font-family: "JUNGJ___";
  src: url("tf_fonts/Fancy_Cartoon/JUNGJ/en/JUNGJ___.TTF") format("truetype");
}
@font-face {
  font-family: "jabjai_heavy";
  src: url("tf_fonts/Fancy_Cartoon/Jabjai_heavy/en/jabjai_heavy.TTF") format("truetype");
}
@font-face {
  font-family: "KGMelonheadz";
  src: url("tf_fonts/Fancy_Cartoon/KGMelonheadz/en/KGMelonheadz.ttf") format("truetype");
}
@font-face {
  font-family: "KGShePersisted";
  src: url("tf_fonts/Fancy_Cartoon/KGShePersisted/en/KGShePersisted.ttf")
    format("truetype");
}
@font-face {
  font-family: "Kraash Black";
  src: url("tf_fonts/Fancy_Cartoon/Kraash/en/Kraash Black.ttf") format("truetype");
}
@font-face {
  font-family: "lazy_sunday_shadow";
  src: url("tf_fonts/Fancy_Cartoon/Lazy_sunday_shadow/en/lazy_sunday_shadow.ttf")
    format("truetype");
}
@font-face {
  font-family: "MadScience";
  src: url("tf_fonts/Fancy_Cartoon/MadScience/en/MadScience.ttf") format("truetype");
}
@font-face {
  font-family: "Magic Sound";
  src: url("tf_fonts/Fancy_Cartoon/Magic Sound/en/Magic Sound.ttf") format("truetype");
}
@font-face {
  font-family: "Meatloaf";
  src: url("tf_fonts/Fancy_Cartoon/Meatloaf/en/Meatloaf.ttf") format("truetype");
}
@font-face {
  font-family: "Minnie";
  src: url("tf_fonts/Fancy_Cartoon/Minnie/en/Minnie.ttf") format("truetype");
}
@font-face {
  font-family: "Mushroom";
  src: url("tf_fonts/Fancy_Cartoon/Mushroom/en/Mushroom.ttf") format("truetype");
}
@font-face {
  font-family: "Organic Fridays";
  src: url("tf_fonts/Fancy_Cartoon/Organic Fridays/en/Organic Fridays.ttf")
    format("truetype");
}
@font-face {
  font-family: "Pokemon Hollow";
  src: url("tf_fonts/Fancy_Cartoon/Pokemon/en/Pokemon Hollow.ttf") format("truetype");
}
@font-face {
  font-family: "RifficFree-Bold";
  src: url("tf_fonts/Fancy_Cartoon/Riffic/en/RifficFree-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SNOT____";
  src: url("tf_fonts/Fancy_Cartoon/SNOT/en/SNOT____.TTF") format("truetype");
}
@font-face {
  font-family: "scoobydoo";
  src: url("tf_fonts/Fancy_Cartoon/Scoobydoo/en/scoobydoo.ttf") format("truetype");
}
@font-face {
  font-family: "sketches font";
  src: url("tf_fonts/Fancy_Cartoon/Sketches font/en/sketches font.ttf")
    format("truetype");
}
@font-face {
  font-family: "SpaceOut";
  src: url("tf_fonts/Fancy_Cartoon/SpaceOut/en/SpaceOut.ttf") format("truetype");
}
@font-face {
  font-family: "spongefont";
  src: url("tf_fonts/Fancy_Cartoon/Spongefont/en/spongefont.ttf") format("truetype");
}
@font-face {
  font-family: "Squidgy";
  src: url("tf_fonts/Fancy_Cartoon/Squidgy/en/Squidgy.ttf") format("truetype");
}
@font-face {
  font-family: "Tiki Tropic Bold";
  src: url("tf_fonts/Fancy_Cartoon/Tiki Tropic Bold/en/Tiki Tropic Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Timoteo";
  src: url("tf_fonts/Fancy_Cartoon/Timoteo/en/Timoteo.ttf") format("truetype");
}
@font-face {
  font-family: "Woodys";
  src: url("tf_fonts/Fancy_Cartoon/Woodys/en/Woodys.ttf") format("truetype");
}
@font-face {
  font-family: "Yahoo";
  src: url("tf_fonts/Fancy_Cartoon/Yahoo/en/Yahoo.ttf") format("truetype");
}
@font-face {
  font-family: "al kisah";
  src: url("tf_fonts/Fancy_Comic/Al kisah/en/al kisah.ttf") format("truetype");
}
@font-face {
  font-family:" B Prahara TH_Tlsn Tgn_Bold Italic";
  src: url("tf_fonts/Fancy_Comic/B Prahara /en/B Prahara TH_Tlsn Tgn_Bold Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "BABIRG__";
  src: url("tf_fonts/Fancy_Comic/BABIRG/en/BABIRG__.TTF") format("truetype");
}
@font-face {
  font-family: "BADABB__";
  src: url("tf_fonts/Fancy_Comic/BADABB/en/BADABB__.TTF") format("truetype");
}
@font-face {
  font-family: "BADUY";
  src: url("tf_fonts/Fancy_Comic/BADUY/en/BADUY.ttf") format("truetype");
}
@font-face {
  font-family: "Black Kids";
  src: url("tf_fonts/Fancy_Comic/Black Kids/en/Black Kids.ttf") format("truetype");
}
@font-face {
  font-family: "blamblambb_hvy";
  src: url("tf_fonts/Fancy_Comic/Blamblambb_hvy/en/blamblambb_hvy.ttf")
    format("truetype");
}
@font-face {
  font-family: "CantedFX Bold";
  src: url("tf_fonts/Fancy_Comic/CantedFX Bold/en/CantedFX Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Cartoonero";
  src: url("tf_fonts/Fancy_Comic/Cartoonero/en/Cartoonero.ttf") format("truetype");
}
@font-face {
  font-family: "ChamsBold";
  src: url("tf_fonts/Fancy_Comic/ChamsBold/en/ChamsBold.ttf") format("truetype");
}
@font-face {
  font-family: "chint___";
  src: url("tf_fonts/Fancy_Comic/Chint/en/chint___.ttf") format("truetype");
}
@font-face {
  font-family: "Comic James";
  src: url("tf_fonts/Fancy_Comic/Comic James/en/Comic James.ttf") format("truetype");
}
@font-face {
  font-family: "Comic_Andy";
  src: url("tf_fonts/Fancy_Comic/Comic_Andy/en/Comic_Andy.ttf") format("truetype");
}
@font-face {
  font-family: "DylanComic";
  src: url("tf_fonts/Fancy_Comic/DylanComic/en/DylanComic.ttf") format("truetype");
}
@font-face {
  font-family: "fawn";
  src: url("tf_fonts/Fancy_Comic/Fawn/en/fawn.ttf") format("truetype");
}
@font-face {
  font-family: "fennrg__";
  src: url("tf_fonts/Fancy_Comic/Fennrg/en/fennrg__.ttf") format("truetype");
}
@font-face {
  font-family: "Fishfingers";
  src: url("tf_fonts/Fancy_Comic/Fishfingers/en/Fishfingers.ttf") format("truetype");
}
@font-face {
  font-family: "fullhouse";
  src: url("tf_fonts/Fancy_Comic/Fullhouse/en/fullhouse.ttf") format("truetype");
}
@font-face {
  font-family: "FunSized";
  src: url("tf_fonts/Fancy_Comic/FunSized/en/FunSized.ttf") format("truetype");
}
@font-face {
  font-family: "Go Boom!";
  src: url("tf_fonts/Fancy_Comic/Go Boom!/en/Go Boom!.ttf") format("truetype");
}
@font-face {
  font-family: "GrilledChicken";
  src: url("tf_fonts/Fancy_Comic/GrilledChicken/en/GrilledChicken.ttf")
    format("truetype");
}
@font-face {
  font-family: "Hazelnut Water";
  src: url("tf_fonts/Fancy_Comic/Hazelnut Water/en/Hazelnut Water.ttf")
    format("truetype");
}
@font-face {
  font-family: "indiepimptbs";
  src: url("tf_fonts/Fancy_Comic/Indiepimptbs/en/indiepimptbs.ttf") format("truetype");
}
@font-face {
  font-family: "Jester";
  src: url("tf_fonts/Fancy_Comic/Jester/en/Jester.ttf") format("truetype");
}
@font-face {
  font-family: "KA-BLAMO!";
  src: url("tf_fonts/Fancy_Comic/KA-BLAMO/en/KA-BLAMO!.ttf") format("truetype");
}
@font-face {
  font-family: "KGHAPPY";
  src: url("tf_fonts/Fancy_Comic/KGHAPPY/en/KGHAPPY.ttf") format("truetype");
}
@font-face {
  font-family: "Ka-Boing!";
  src: url("tf_fonts/Fancy_Comic/Ka-Boing/en/Ka-Boing!.ttf") format("truetype");
}
@font-face {
  font-family: "Key Comic";
  src: url("tf_fonts/Fancy_Comic/Key Comic/en/Key Comic.ttf") format("truetype");
}
@font-face {
  font-family: "manga_speak";
  src: url("tf_fonts/Fancy_Comic/Manga_speak/en/manga_speak.ttf") format("truetype");
}
@font-face {
  font-family: "Mf Fine Again";
  src: url("tf_fonts/Fancy_Comic/Mf Fine Again/en/Mf Fine Again.ttf") format("truetype");
}
@font-face {
  font-family: "Mf Rusty";
  src: url("tf_fonts/Fancy_Comic/Mf Rusty/en/Mf Rusty.ttf") format("truetype");
}
@font-face {
  font-family: "Mr Sunshine";
  src: url("tf_fonts/Fancy_Comic/Mr Sunshine/en/Mr Sunshine.ttf") format("truetype");
}
@font-face {
  font-family: "NAKED";
  src: url("tf_fonts/Fancy_Comic/NAKED/en/NAKED.ttf") format("truetype");
}
@font-face {
  font-family: "Olives";
  src: url("tf_fonts/Fancy_Comic/Olives/en/Olives.ttf") format("truetype");
}
@font-face {
  font-family: "Original Woody";
  src: url("tf_fonts/Fancy_Comic/Original Woody/en/Original Woody.ttf")
    format("truetype");
}
@font-face {
  font-family: "punkboy_tbs";
  src: url("tf_fonts/Fancy_Comic/Punkboy_tbs/en/punkboy_tbs.ttf") format("truetype");
}
@font-face {
  font-family: "Razing";
  src: url("tf_fonts/Fancy_Comic/Razing/en/Razing.ttf") format("truetype");
}
@font-face {
  font-family: "SWINSBRG";
  src: url("tf_fonts/Fancy_Comic/SWINSBRG/en/SWINSBRG.TTF") format("truetype");
}
@font-face {
  font-family: "Shaka Pow";
  src: url("tf_fonts/Fancy_Comic/Shaka Pow/en/Shaka Pow.ttf") format("truetype");
}
@font-face {
  font-family: "sing_14l";
  src: url("tf_fonts/Fancy_Comic/Sing_14/en/sing_14l.ttf") format("truetype");
}
@font-face {
  font-family: "space punk PG";
  src: url("tf_fonts/Fancy_Comic/Space punk PG/en/space punk PG.ttf") format("truetype");
}
@font-face {
  font-family: "Stanberry";
  src: url("tf_fonts/Fancy_Comic/Stanberry/en/Stanberry.ttf") format("truetype");
}
@font-face {
  font-family: "Suburbana";
  src: url("tf_fonts/Fancy_Comic/Suburbana/en/Suburbana.ttf") format("truetype");
}
@font-face {
  font-family: "Summeron";
  src: url("tf_fonts/Fancy_Comic/Summeron/en/Summeron.ttf") format("truetype");
}
@font-face {
  font-family: "The Ugly Font";
  src: url("tf_fonts/Fancy_Comic/The Ugly Font/en/The Ugly Font.ttf") format("truetype");
}
@font-face {
  font-family: "Topuz";
  src: url("tf_fonts/Fancy_Comic/Topuz/en/Topuz.ttf") format("truetype");
}
@font-face {
  font-family: "vinsdojo";
  src: url("tf_fonts/Fancy_Comic/Vinsdojo/en/vinsdojo.TTF") format("truetype");
}
@font-face {
  font-family: "XO";
  src: url("tf_fonts/Fancy_Comic/Xoxoxa/en/XO.TTF") format("truetype");
}
@font-face {
  font-family: "YARDSALE";
  src: url("tf_fonts/Fancy_Comic/YARDSALE/en/YARDSALE.TTF") format("truetype");
}
@font-face {
  font-family: "YIKES!__";
  src: url("tf_fonts/Fancy_Comic/YIKES/en/YIKES!__.TTF") format("truetype");
}
@font-face {
  font-family: "ALBA____";
  src: url("tf_fonts/Fancy_Groovy/ALBA/en/ALBA____.TTF") format("truetype");
}

@font-face {
  font-family: "akka";
  src: url("tf_fonts/ Fancy_Groovy/Akka/en/akka.ttf") format("truetype");
}
@font-face {
  font-family: "Arista2.0-FatTrial";
  src: url("tf_fonts/Fancy_Groovy/Arista/en/Arista2.0-FatTrial.ttf") format("truetype");
}
@font-face {
  font-family: "BILLO___";
  src: url("tf_fonts/Fancy_Groovy/BILLO/en/BILLO___.TTF") format("truetype");
}
@font-face {
  font-family: "BSIDE___";
  src: url("tf_fonts/Fancy_Groovy/BSIDE/en/BSIDE___.ttf") format("truetype");
}
@font-face {
  font-family: "BUBBLEBOY2";
  src: url("tf_fonts/Fancy_Groovy/BUBBLEBOY/en/BUBBLEBOY2.ttf") format("truetype");
}
@font-face {
  font-family: "blocking";
  src: url("tf_fonts/Fancy_Groovy/Blocking/en/blocking.ttf") format("truetype");
}
@font-face {
  font-family: "Bonus - Base - BC";
  src: url("tf_fonts/Fancy_Groovy/Bonus/en/Bonus - Base - BC.ttf") format("truetype");
}
@font-face {
  font-family: "CATBЩx";
  src: url("tf_fonts/Fancy_Groovy/CAT/en/CATBЩx.ttf") format("truetype");
}
@font-face {
  font-family: "CHICK___";
  src: url("tf_fonts/Fancy_Groovy/CHICK/en/CHICK___.TTF") format("truetype");
}
@font-face {
  font-family: "CoasterShadow";
  src: url("tf_fonts/Fancy_Groovy/Coaster/en/CoasterShadow.ttf") format("truetype");
}
@font-face {
  font-family: "DELUSION";
  src: url("tf_fonts/Fancy_Groovy/DELUSION/en/DELUSION.ttf") format("truetype");
}
@font-face {
  font-family: "Disko";
  src: url("tf_fonts/Fancy_Groovy/Disko/en/Disko.ttf") format("truetype");
}
@font-face {
  font-family: "EIGHT___";
  src: url("tf_fonts/Fancy_Groovy/EIGHT/en/EIGHT___.TTF") format("truetype");
}
@font-face {
  font-family: "ELVIS___";
  src: url("tf_fonts/Fancy_Groovy/ELVIS/en/ELVIS___.TTF") format("truetype");
}
@font-face {
  font-family: "GOSOUL__";
  src: url("tf_fonts/Fancy_Groovy/GOSOUL/en/GOSOUL__.TTF") format("truetype");
}
@font-face {
  font-family: "GeT wEt";
  src: url("tf_fonts/Fancy_Groovy/Get wet/en/GeT wEt.ttf") format("truetype");
}
@font-face {
  font-family: "grease__";
  src: url("tf_fonts/Fancy_Groovy/Grease/en/grease__.ttf") format("truetype");
}
@font-face {
  font-family: "Groovy";
  src: url("tf_fonts/Fancy_Groovy/Groovy/en/Groovy.ttf") format("truetype");
}
@font-face {
  font-family: "HENDD___";
  src: url("tf_fonts/Fancy_Groovy/HEND/en/HENDD___.TTF") format("truetype");
}
@font-face {
  font-family: "Jazz_Ball_Bold";
  src: url("tf_fonts/Fancy_Groovy/Jazz_Ball/en/Jazz_Ball_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "KingkФng";
  src: url("tf_fonts/Fancy_Groovy/Kingk/en/KingkФng.ttf") format("truetype");
}
@font-face {
  font-family: "Lakmus";
  src: url("tf_fonts/Fancy_Groovy/Lakmus/en/Lakmus.ttf") format("truetype");
}
@font-face {
  font-family: "logo";
  src: url("tf_fonts/Fancy_Groovy/Logo/en/logo.ttf") format("truetype");
}
@font-face {
  font-family: "Mama Regular";
  src: url("tf_fonts/Fancy_Groovy/Mama/en/Mama Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mignone";
  src: url("tf_fonts/Fancy_Groovy/Mignone/en/Mignone.ttf") format("truetype");
}
@font-face {
  font-family: "gomarice_mini_pop";
  src: url("tf_fonts/Fancy_Groovy/Mini_pop/en/gomarice_mini_pop.ttf") format("truetype");
}
@font-face {
  font-family: "monica";
  src: url("tf_fonts/Fancy_Groovy/Monica/en/monica.ttf") format("truetype");
}
@font-face {
  font-family: "Neon";
  src: url("tf_fonts/Fancy_Groovy/Neon/en/Neon.ttf") format("truetype");
}
@font-face {
  font-family: "NeptunCAT";
  src: url("tf_fonts/Fancy_Groovy/Neptuncat/en/NeptunCAT.ttf") format("truetype");
}
@font-face {
  font-family: "PEACE___";
  src: url("tf_fonts/Fancy_Groovy/PEACE/en/PEACE___.TTF") format("truetype");
}
@font-face {
  font-family: "MaiLe-Pooh-Regular";
  src: url("tf_fonts/Fancy_Groovy/Pooh/en/MaiLe-Pooh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "pooplatter";
  src: url("tf_fonts/Fancy_Groovy/Pooplatter/en/pooplatter.ttf") format("truetype");
}
@font-face {
  font-family: "Prisma";
  src: url("tf_fonts/Fancy_Groovy/Prisma/en/Prisma.ttf") format("truetype");
}
@font-face {
  font-family: "Puppy___";
  src: url("tf_fonts/Fancy_Groovy/Puppy/en/Puppy___.ttf") format("truetype");
}
@font-face {
  font-family: "QUEER___";
  src: url("tf_fonts/Fancy_Groovy/QUEER/en/QUEER___.ttf") format("truetype");
}
@font-face {
  font-family: "Rakoon_PersonalUse";
  src: url("tf_fonts/Fancy_Groovy/Rakoon/en/Rakoon_PersonalUse.ttf") format("truetype");
}
@font-face {
  font-family: "SMOKE___";
  src: url("tf_fonts/Fancy_Groovy/SMOKE/en/SMOKE___.TTF") format("truetype");
}
@font-face {
  font-family: "SUGAR";
  src: url("tf_fonts/Fancy_Groovy/SUGAR/en/SUGAR.TTF") format("truetype");
}
@font-face {
  font-family: "Sargoo";
  src: url("tf_fonts/Fancy_Groovy/Sargoo/en/Sargoo.ttf") format("truetype");
}
@font-face {
  font-family: "Si Brot!";
  src: url("tf_fonts/Fancy_Groovy/Si Brot!/en/Si Brot!.ttf") format("truetype");
}
@font-face {
  font-family: "Sixties";
  src: url("tf_fonts/Fancy_Groovy/Sixties/en/Sixties.ttf") format("truetype");
}
@font-face {
  font-family: "Sniglet";
  src: url("tf_fonts/Fancy_Groovy/Sniglet/en/Sniglet.ttf") format("truetype");
}
@font-face {
  font-family: "soda";
  src: url("tf_fonts/Fancy_Groovy/Soda/en/soda.ttf") format("truetype");
}
@font-face {
  font-family: "Splotch-";
  src: url("tf_fonts/Fancy_Groovy/Splotch/en/Splotch-.ttf") format("truetype");
}
@font-face {
  font-family: "Tabun";
  src: url("tf_fonts/Fancy_Groovy/Tabun/en/Tabun.ttf") format("truetype");
}
@font-face {
  font-family: "tutano_cc_v2";
  src: url("tf_fonts/Fancy_Groovy/Tutano/en/tutano_cc_v2.ttf") format("truetype");
}
@font-face {
  font-family: "vinilo";
  src: url("tf_fonts/Fancy_Groovy/Vinilo/en/vinilo.ttf") format("truetype");
}
@font-face {
  font-family: "ANEIRIN_";
  src: url("tf_fonts/Gothic_Celtic/ANEIRIN/en/ANEIRIN_.TTF") format("truetype");
}
@font-face {
  font-family: "anirm___";
  src: url("tf_fonts/Gothic_Celtic/Anirm/en/anirm___.ttf") format("truetype");
}
@font-face {
  font-family: "Ardagh";
  src: url("tf_fonts/Gothic_Celtic/Ardagh/en/Ardagh.ttf") format("truetype");
}
@font-face {
  font-family: "BastardaPlain";
  src: url("tf_fonts/Gothic_Celtic/BastardaPlain/en/BastardaPlain.ttf")
    format("truetype");
}
@font-face {
  font-family: "br______";
  src: url("tf_fonts/Gothic_Celtic/Brandegoris/en/br______.ttf") format("truetype");
}
@font-face {
  font-family: "CABALETT";
  src: url("tf_fonts/Gothic_Celtic/CABALETT/en/CABALETT.TTF") format("truetype");
}
@font-face {
  font-family: "CELTICHD";
  src: url("tf_fonts/Gothic_Celtic/CELTICHD/en/CELTICHD.TTF") format("truetype");
}
@font-face {
  font-family: "carolingia";
  src: url("tf_fonts/Gothic_Celtic/Carolingia/en/carolingia.ttf") format("truetype");
}
@font-face {
  font-family: "castiglione";
  src: url("tf_fonts/Gothic_Celtic/Castiglione/en/castiglione.ttf") format("truetype");
}
@font-face {
  font-family: "celtic_gaelige";
  src: url("tf_fonts/Gothic_Celtic/Celtic_gaelige/en/celtic_gaelige.ttf")
    format("truetype");
}
@font-face {
  font-family: "celticmd";
  src: url("tf_fonts/Gothic_Celtic/Celticmd/en/celticmd.ttf") format("truetype");
}
@font-face {
  font-family: "Cryv2";
  src: url("tf_fonts/Gothic_Celtic/Cryv2/en/Cryv2.ttf") format("truetype");
}
@font-face {
  font-family: "Cup and Talon";
  src: url("tf_fonts/Gothic_Celtic/Cup and Talon/en/Cup and Talon.ttf")
    format("truetype");
}
@font-face {
  font-family: "CzechGotika";
  src: url("tf_fonts/Gothic_Celtic/CzechGotika/en/CzechGotika.ttf") format("truetype");
}
@font-face {
  font-family: "DUNGRG__";
  src: url("tf_fonts/Gothic_Celtic/DUNGRG/en/DUNGRG__.TTF") format("truetype");
}
@font-face {
  font-family: "dahaut__";
  src: url("tf_fonts/Gothic_Celtic/Dahaut/en/dahaut__.ttf") format("truetype");
}
@font-face {
  font-family: "deroos__";
  src: url("tf_fonts/Gothic_Celtic/Deroos/en/deroos__.ttf") format("truetype");
}
@font-face {
  font-family: "dum1";
  src: url("tf_fonts/Gothic_Celtic/Dumbledor/en/dum1.ttf") format("truetype");
}
@font-face {
  font-family: "eltirg__";
  src: url("tf_fonts/Gothic_Celtic/Eltirg/en/eltirg__.ttf") format("truetype");
}
@font-face {
  font-family: "gaeilge";
  src: url("tf_fonts/Gothic_Celtic/Gaeilge/en/gaeilge.ttf") format("truetype");
}
@font-face {
  font-family: "Holyv2";
  src: url("tf_fonts/Gothic_Celtic/Holyv2/en/Holyv2.ttf") format("truetype");
}
@font-face {
  font-family: "JMH Moreneta";
  src: url("tf_fonts/Gothic_Celtic/JMH Moreneta/en/JMH Moreneta.ttf") format("truetype");
}
@font-face {
  font-family: "KingArthur";
  src: url("tf_fonts/Gothic_Celtic/KingArthur/en/KingArthur.ttf") format("truetype");
}
@font-face {
  font-family: "LLPALADI2";
  src: url("tf_fonts/Gothic_Celtic/LLPALADI2/en/LLPALADI2.ttf") format("truetype");
}
@font-face {
  font-family: "Livingst";
  src: url("tf_fonts/Gothic_Celtic/Livingst/en/Livingst.ttf") format("truetype");
}
@font-face {
  font-family: "Lombardic";
  src: url("tf_fonts/Gothic_Celtic/Lombardic/en/Lombardic.ttf") format("truetype");
}
@font-face {
  font-family: "MAEL____";
  src: url("tf_fonts/Gothic_Celtic/MAEL/en/MAEL____.TTF") format("truetype");
}
@font-face {
  font-family: "martel";
  src: url("tf_fonts/Gothic_Celtic/Martel/en/martel.ttf") format("truetype");
}
@font-face {
  font-family: "MorrisRomanBlack";
  src: url("tf_fonts/Gothic_Celtic/MorrisRomanBlack/en/MorrisRomanBlack.ttf")
    format("truetype");
}
@font-face {
  font-family: "NARROW";
  src: url("tf_fonts/Gothic_Celtic/NARROW/en/NARROW.TTF") format("truetype");
}
@font-face {
  font-family: "Onciale PhF01";
  src: url("tf_fonts/Gothic_Celtic/Onciale PhF01/en/Onciale PhF01.ttf")
    format("truetype");
}
@font-face {
  font-family: "PATRICK";
  src: url("tf_fonts/Gothic_Celtic/PATRICK/en/PATRICK.TTF") format("truetype");
}
@font-face {
  font-family: "PR Viking";
  src: url("tf_fonts/Gothic_Celtic/PR Viking/en/PR Viking.ttf") format("truetype");
}
@font-face {
  font-family: "partybusiness";
  src: url("tf_fonts/Gothic_Celtic/Partybusiness/en/partybusiness.ttf")
    format("truetype");
}
@font-face {
  font-family: "pe______";
  src: url("tf_fonts/Gothic_Celtic/Perigord/en/pe______.ttf") format("truetype");
}
@font-face {
  font-family: "questra extra st";
  src: url("tf_fonts/Gothic_Celtic/Questra/en/questra extra st.ttf") format("truetype");
}
@font-face {
  font-family: "Rostock Kaligraph";
  src: url("tf_fonts/Gothic_Celtic/Rostock Kaligraph/en/Rostock Kaligraph.ttf")
    format("truetype");
}
@font-face {
  font-family: "STCHARLE";
  src: url("tf_fonts/Gothic_Celtic/STCHARLE/en/STCHARLE.TTF") format("truetype");
}
@font-face {
  font-family: "sable";
  src: url("tf_fonts/Gothic_Celtic/Sable/en/sable.ttf") format("truetype");
}
@font-face {
  font-family: "sad_____";
  src: url("tf_fonts/Gothic_Celtic/Samedi/en/sad_____.ttf") format("truetype");
}
@font-face {
  font-family: "SC______";
  src: url("tf_fonts/Gothic_Celtic/Scurlock/en/SC______.TTF") format("truetype");
}
@font-face {
  font-family: "st______";
  src: url("tf_fonts/Gothic_Celtic/Stonecross/en/st______.ttf") format("truetype");
}
@font-face {
  font-family: "stonehen";
  src: url("tf_fonts/Gothic_Celtic/Stonehen/en/stonehen.ttf") format("truetype");
}
@font-face {
  font-family: "stonehenge";
  src: url("tf_fonts/Gothic_Celtic/Stonehenge/en/stonehenge.ttf") format("truetype");
}
@font-face {
  font-family: "theshire";
  src: url("tf_fonts/Gothic_Celtic/Theshire/en/theshire.ttf") format("truetype");
}
@font-face {
  font-family: "UNCIAL__";
  src: url("tf_fonts/Gothic_Celtic/UNCIAL/en/UNCIAL__.TTF") format("truetype");
}
@font-face {
  font-family: "VAFTHRUD";
  src: url("tf_fonts/Gothic_Celtic/VAFTHRUD/en/VAFTHRUD.TTF") format("truetype");
}
@font-face {
  font-family: "VIKING-N";
  src: url("tf_fonts/Gothic_Celtic/VIKING-N/en/VIKING-N.TTF") format("truetype");
}
@font-face {
  font-family: "xiphos";
  src: url("tf_fonts/Gothic_Celtic/Xiphos/en/xiphos.ttf") format("truetype");
}
@font-face {
  font-family: "Zilluncial";
  src: url("tf_fonts/Gothic_Celtic/Zilluncial/en/Zilluncial.TTF") format("truetype");
}
@font-face {
  font-family: "agra_axera";
  src: url("tf_fonts/Gothic_Modern/Agra_axera/en/agra_axera.ttf") format("truetype");
}
@font-face {
  font-family: "AmazDooMRight";
  src: url("tf_fonts/Gothic_Modern/AmazDooM/en/AmazDooMRight.ttf") format("truetype");
}
@font-face {
  font-family: "Axe";
  src: url("tf_fonts/Gothic_Modern/Axe/en/Axe.ttf") format("truetype");
}
@font-face {
  font-family: "Backstab Personal Use";
  src: url("tf_fonts/Gothic_Modern/Backstab/en/Backstab Personal Use.ttf")
    format("truetype");
}
@font-face {
  font-family: "Backyard_PERSONAL";
  src: url("tf_fonts/Gothic_Modern/Backyard/en/Backyard_PERSONAL.ttf") format("truetype");
}
@font-face {
  font-family: "Bad Boys";
  src: url("tf_fonts/Gothic_Modern/Bad Boys/en/Bad Boys.ttf") format("truetype");
}
@font-face {
  font-family: "MCF_bad_manners_ww";
  src: url("tf_fonts/Gothic_Modern/Bad_manners/en/MCF_bad_manners_ww.ttf")
    format("truetype");
}
@font-face {
  font-family: "BaltimoreGoth";
  src: url("tf_fonts/Gothic_Modern/BaltimoreGoth/en/BaltimoreGoth.ttf")
    format("truetype");
}
@font-face {
  font-family: "Blade";
  src: url("tf_fonts/Gothic_Modern/BladE/en/Blade.ttf") format("truetype");
}
@font-face {
  font-family: "Blade 2";
  src: url("tf_fonts/Gothic_Modern/Blade/en/Blade 2.ttf") format("truetype");
}
@font-face {
  font-family: "BloodOmen";
  src: url("tf_fonts/Gothic_Modern/BloodOmen/en/BloodOmen.ttf") format("truetype");
}
@font-face {
  font-family: "Carbon_Blade_font";
  src: url("tf_fonts/Gothic_Modern/Carbon_Blade/en/Carbon_Blade_font.ttf")
    format("truetype");
}
@font-face {
  font-family: "Card Shark";
  src: url("tf_fonts/Gothic_Modern/Card Shark/en/Card Shark.ttf") format("truetype");
}
@font-face {
  font-family: "Clobot-Personal-Use";
  src: url("tf_fonts/Gothic_Modern/Clobot/en/Clobot-Personal-Use.ttf") format("truetype");
}
@font-face {
  font-family: "DragonForcE";
  src: url("tf_fonts/Gothic_Modern/DragonForcE/en/DragonForcE.ttf") format("truetype");
}
@font-face {
  font-family: "drakon";
  src: url("tf_fonts/Gothic_Modern/Drakon/en/drakon.ttf") format("truetype");
}
@font-face {
  font-family: "ENDOR___";
  src: url("tf_fonts/Gothic_Modern/ENDOR/en/ENDOR___.ttf") format("truetype");
}
@font-face {
  font-family: "eldiablo";
  src: url("tf_fonts/Gothic_Modern/Eldiablo/en/eldiablo.ttf") format("truetype");
}
@font-face {
  font-family: "Ethelvina_Regular";
  src: url("tf_fonts/Gothic_Modern/Ethelvina/en/Ethelvina_Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Exorcista_-Jed_40";
  src: url("tf_fonts/Gothic_Modern/Exorcista/en/Exorcista_-Jed_40.ttf")
    format("truetype");
}
@font-face {
  font-family: "FRAKTURI";
  src: url("tf_fonts/Gothic_Modern/FRAKTURI/en/FRAKTURI.ttf") format("truetype");
}
@font-face {
  font-family: "Gargoyles";
  src: url("tf_fonts/Gothic_Modern/Gargoyles/en/Gargoyles.ttf") format("truetype");
}
@font-face {
  font-family: "Godhong-Personal-Use";
  src: url("tf_fonts/Gothic_Modern/Godhong/en/Godhong-Personal-Use.ttf")
    format("truetype");
}
@font-face {
  font-family: "Gothickella Free";
  src: url("tf_fonts/Gothic_Modern/Gothickella/en/Gothickella Free.ttf")
    format("truetype");
}
@font-face {
  font-family: "Hellion";
  src: url("tf_fonts/Gothic_Modern/Hellion/en/Hellion.ttf") format("truetype");
}
@font-face {
  font-family: "hooked up 101";
  src: url("tf_fonts/Gothic_Modern/Hooked up 101/en/hooked up 101.ttf")
    format("truetype");
}
@font-face {
  font-family: "FTY_IRONHORSE_NCV";
  src: url("tf_fonts/Gothic_Modern/IRONHORSE/en/FTY_IRONHORSE_NCV.ttf")
    format("truetype");
}
@font-face {
  font-family: "kinifed_";
  src: url("tf_fonts/Gothic_Modern/Kinifed/en/kinifed_.ttf") format("truetype");
}
@font-face {
  font-family: "MCF_Krechet";
  src: url("tf_fonts/Gothic_Modern/Krechet/en/MCF_Krechet.ttf") format("truetype");
}
@font-face {
  font-family: "LifeCraft_Font";
  src: url("tf_fonts/Gothic_Modern/LifeCraft/en/LifeCraft_Font.ttf") format("truetype");
}
@font-face {
  font-family: "Long_Shot";
  src: url("tf_fonts/Gothic_Modern/Long_Shot/en/Long_Shot.ttf") format("truetype");
}
@font-face {
  font-family: "MORPHEUS";
  src: url("tf_fonts/Gothic_Modern/MORPHEUS/en/MORPHEUS.TTF") format("truetype");
}
@font-face {
  font-family: "Make Juice";
  src: url("tf_fonts/Gothic_Modern/Make Juice/en/Make Juice.ttf") format("truetype");
}
@font-face {
  font-family: "Midnight Moon - PERSONAL USE ONLY";
  src: url("tf_fonts/Gothic_Modern/Midnight Moon/en/Midnight Moon - PERSONAL USE ONLY.ttf")
    format("truetype");
}
@font-face {
  font-family: "HBM Mixit (personal use only)";
  src: url("tf_fonts/Gothic_Modern/Mixit/en/HBM Mixit (personal use only).ttf")
    format("truetype");
}
@font-face {
  font-family: "Nightmare_Hero_Normal";
  src: url("tf_fonts/Gothic_Modern/Nightmare_Hero/en/Nightmare_Hero_Normal.ttf")
    format("truetype");
}
@font-face {
  font-family: "PaleHorse";
  src: url("tf_fonts/Gothic_Modern/PaleHorse/en/PaleHorse.ttf") format("truetype");
}
@font-face {
  font-family: "Potsdam";
  src: url("tf_fonts/Gothic_Modern/Potsdam/en/Potsdam.ttf") format("truetype");
}
@font-face {
  font-family: "puree____2";
  src: url("tf_fonts/Gothic_Modern/Puree/en/puree____2.ttf") format("truetype");
}
@font-face {
  font-family: "Quake___";
  src: url("tf_fonts/Gothic_Modern/Quake/en/Quake___.ttf") format("truetype");
}
@font-face {
  font-family: "Spykker";
  src: url("tf_fonts/Gothic_Modern/Spykker/en/Spykker.TTF") format("truetype");
}
@font-face {
  font-family: "squealer";
  src: url("tf_fonts/Gothic_Modern/Squealer/en/squealer.ttf") format("truetype");
}
@font-face {
  font-family: "Tolerant";
  src: url("tf_fonts/Gothic_Modern/Tolerant/en/Tolerant.ttf") format("truetype");
}
@font-face {
  font-family: "UnrealT";
  src: url("tf_fonts/Gothic_Modern/Unreal/en/UnrealT.ttf") format("truetype");
}
@font-face {
  font-family: "Unrealised";
  src: url("tf_fonts/Gothic_Modern/Unrealised/en/Unrealised.ttf") format("truetype");
}
@font-face {
  font-family: "vinque";
  src: url("tf_fonts/Gothic_Modern/Vinque/en/vinque.ttf") format("truetype");
}
@font-face {
  font-family: "WARLOCK_";
  src: url("tf_fonts/Gothic_Modern/WARLOCK/en/WARLOCK_.TTF") format("truetype");
}
@font-face {
  font-family: "walshes";
  src: url("tf_fonts/Gothic_Modern/Walshes/en/walshes.ttf") format("truetype");
}
@font-face {
  font-family: "WishMF";
  src: url("tf_fonts/Gothic_Modern/WishMF/en/WishMF.ttf") format("truetype");
}
@font-face {
  font-family: "zeddan";
  src: url("tf_fonts/Gothic_Modern/Zeddan/en/zeddan.ttf") format("truetype");
}
@font-face {
  font-family: "Adlery_TRIAL";
  src: url("tf_fonts/Script_Brush/Adlery_TRIAL/en/Adlery_TRIAL.ttf") format("truetype");
}
@font-face {
  font-family: "Artbrush";
  src: url("tf_fonts/Script_Brush/Artbrush/en/Artbrush.ttf") format("truetype");
}
@font-face {
  font-family: "bakery";
  src: url("tf_fonts/Script_Brush/Bakery/en/bakery.ttf") format("truetype");
}
@font-face {
  font-family: "bernadette_rough";
  src: url("tf_fonts/Script_Brush/Bernadette_rough/en/bernadette_rough.ttf")
    format("truetype");
}
@font-face {
  font-family: "Billy Ohio";
  src: url("tf_fonts/Script_Brush/Billy Ohio/en/Billy Ohio.ttf") format("truetype");
}
@font-face {
  font-family: "Blacktear Demo";
  src: url("tf_fonts/Script_Brush/Blacktear Demo/en/Blacktear Demo.ttf")
    format("truetype");
}
@font-face {
  font-family: "blowbrush";
  src: url("tf_fonts/Script_Brush/Blowbrush/en/blowbrush.ttf") format("truetype");
}
@font-face {
  font-family: "BROWN FOXY - Personal Use Only";
  src: url("tf_fonts/Script_Brush/Brown_foxy/en/BROWN FOXY - Personal Use Only.ttf")
    format("truetype");
}
@font-face {
  font-family: "Brushstrike trial";
  src: url("tf_fonts/Script_Brush/Brushstrike trial/en/Brushstrike trial.ttf")
    format("truetype");
}
@font-face {
  font-family: "California";
  src: url("tf_fonts/Script_Brush/California/en/California.ttf") format("truetype");
}
@font-face {
  font-family: "chocoleta";
  src: url("tf_fonts/Script_Brush/Chocoleta/en/chocoleta.ttf") format("truetype");
}
@font-face {
  font-family: "DK Cinnabar Brush";
  src: url("tf_fonts/Script_Brush/DK Cinnabar Brush/en/DK Cinnabar Brush.ttf")
    format("truetype");
}
@font-face {
  font-family: "Dark Roast";
  src: url("tf_fonts/Script_Brush/Dark Roast/en/Dark Roast.ttf") format("truetype");
}
@font-face {
  font-family: "Dry Brush";
  src: url("tf_fonts/Script_Brush/Dry Brush/en/Dry Brush.ttf") format("truetype");
}
@font-face {
  font-family: "Easycore";
  src: url("tf_fonts/Script_Brush/Easycore/en/Easycore.ttf") format("truetype");
}
@font-face {
  font-family: "edosz";
  src: url("tf_fonts/Script_Brush/Edosz/en/edosz.ttf") format("truetype");
}
@font-face {
  font-family: "Gloss_And_Bloom";
  src: url("tf_fonts/Script_Brush/Gloss_And_Bloom/en/Gloss_And_Bloom.ttf")
    format("truetype");
}
@font-face {
  font-family: "KGLifeisMessy";
  src: url("tf_fonts/Script_Brush/KGLifeisMessy/en/KGLifeisMessy.ttf") format("truetype");
}
@font-face {
  font-family: "KeepScrollingDEMO";
  src: url("tf_fonts/Script_Brush/KeepScrollingDEMO/en/KeepScrollingDEMO.ttf")
    format("truetype");
}
@font-face {
  font-family: "LEVIBRUSH";
  src: url("tf_fonts/Script_Brush/LEVIBRUSH/en/LEVIBRUSH.TTF") format("truetype");
}
@font-face {
  font-family: "LeviReBrushed";
  src: url("tf_fonts/Script_Brush/LeviReBrushed/en/LeviReBrushed.ttf") format("truetype");
}
@font-face {
  font-family: "Living Colours Personal Use";
  src: url("tf_fonts/Script_Brush/Living Colours Personal Use/en/Living Colours Personal Use.ttf")
    format("truetype");
}
@font-face {
  font-family: "Lost in Wild";
  src: url("tf_fonts/Script_Brush/Lost in Wild/en/Lost in Wild.ttf") format("truetype");
}
@font-face {
  font-family: "mark_my_words";
  src: url("tf_fonts/Script_Brush/Mark_my_words/en/mark_my_words.ttf") format("truetype");
}
@font-face {
  font-family: "Mayton";
  src: url("tf_fonts/Script_Brush/Mayton/en/Mayton.ttf") format("truetype");
}
@font-face {
  font-family: "Movie Makers Personal Use";
  src: url("tf_fonts/Script_Brush/Movie Makers Personal Use/en/Movie Makers Personal Use.ttf")
    format("truetype");
}
@font-face {
  font-family: "Night_Ride";
  src: url("tf_fonts/Script_Brush/Night_Ride/en/Night_Ride.ttf") format("truetype");
}
@font-face {
  font-family: "Nightingale Sample";
  src: url("tf_fonts/Script_Brush/Nightingale Sample/en/Nightingale Sample.ttf")
    format("truetype");
}
@font-face {
  font-family: "njnaruto";
  src: url("tf_fonts/Script_Brush/Njnaruto/en/njnaruto.ttf") format("truetype");
}
@font-face {
  font-family: "OSFC-Bristle-Brush-Script-Regular-Demo";
  src: url("tf_fonts/Script_Brush/OSFC-Bristle-Brush-Script-Regular-Demo/en/OSFC-Bristle-Brush-Script-Regular-Demo.ttf")
    format("truetype");
}
@font-face {
  font-family: "October Twilight";
  src: url("tf_fonts/Script_Brush/October Twilight/en/October Twilight.ttf")
    format("truetype");
}
@font-face {
  font-family: "olivier_demo";
  src: url("tf_fonts/Script_Brush/Olivier_demo/en/olivier_demo.ttf") format("truetype");
}
@font-face {
  font-family: "Olympic Branding";
  src: url("tf_fonts/Script_Brush/Olympic Branding/en/Olympic Branding.ttf")
    format("truetype");
}
@font-face {
  font-family: "PAINP___";
  src: url("tf_fonts/Script_Brush/PAINP/en/PAINP___.TTF") format("truetype");
}
@font-face {
  font-family: "Pale Blue Eyes";
  src: url("tf_fonts/Script_Brush/Pale Blue Eyes/en/Pale Blue Eyes.ttf")
    format("truetype");
}
@font-face {
  font-family: "Portobesto";
  src: url("tf_fonts/Script_Brush/Portobesto/en/Portobesto.ttf") format("truetype");
}
@font-face {
  font-family: "Rhinos rocks 1";
  src: url("tf_fonts/Script_Brush/Rhinos rocks 1/en/Rhinos rocks 1.ttf")
    format("truetype");
}
@font-face {
  font-family: "Silver Age Queens";
  src: url("tf_fonts/Script_Brush/Silver Age Queens/en/Silver Age Queens.ttf")
    format("truetype");
}
@font-face {
  font-family: "Sketch";
  src: url("tf_fonts/Script_Brush/Sketch/en/Sketch.ttf") format("truetype");
}
@font-face {
  font-family: "Skywalker free demo";
  src: url("tf_fonts/Script_Brush/Skywalker free demo/en/Skywalker free demo.ttf")
    format("truetype");
}
@font-face {
  font-family: "Sophia";
  src: url("tf_fonts/Script_Brush/Sophia/en/Sophia.ttf") format("truetype");
}
@font-face {
  font-family: "Sunshine Boulevard Personal Use";
  src: url("tf_fonts/Script_Brush/Sunshine Boulevard Personal Use/en/Sunshine Boulevard Personal Use.ttf")
    format("truetype");
}
@font-face {
  font-family: "Surfing Capital";
  src: url("tf_fonts/Script_Brush/Surfing Capital/en/Surfing Capital.ttf")
    format("truetype");
}
@font-face {
  font-family: "Sweet Sorrow";
  src: url("tf_fonts/Script_Brush/Sweet Sorrow/en/Sweet Sorrow.ttf") format("truetype");
}
@font-face {
  font-family: "The Braggest_Demo";
  src: url("tf_fonts/Script_Brush/The Braggest_Demo/en/The Braggest_Demo.ttf")
    format("truetype");
}
@font-face {
  font-family: "Thinking_of_Betty";
  src: url("tf_fonts/Script_Brush/Thinking_of_Betty/en/Thinking_of_Betty.ttf")
    format("truetype");
}
@font-face {
  font-family: "valencia sans";
  src: url("tf_fonts/Script_Brush/Valencia sans/en/valencia sans.ttf") format("truetype");
}
@font-face {
  font-family: "Whortle Demo";
  src: url("tf_fonts/Script_Brush/Whortle Demo/en/Whortle Demo.ttf") format("truetype");
}
@font-face {
  font-family: "WildCreaturesSample";
  src: url("tf_fonts/Script_Brush/WildCreaturesSample/en/WildCreaturesSample.ttf")
    format("truetype");
}
@font-face {
  font-family: "Zondas";
  src: url("tf_fonts/Script_Brush/Zondas/en/Zondas.ttf") format("truetype");
}
