.ui.button{cursor:pointer;display:inline-block;min-height:1em;outline:0;border:none;vertical-align:baseline;background:#e0e1e2;color:rgba(0,0,0,.6);font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;margin:0 .25em 0 0;padding:.78571429em 1.5em;text-transform:none;text-shadow:none;font-weight:700;line-height:1em;font-style:normal;text-align:center;text-decoration:none;border-radius:0;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;transition:opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;-webkit-tap-highlight-color:transparent}
.ui.button:hover{background-color:#cacbcd;background-image:none;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;color:rgba(0,0,0,.8)}
.ui.button:hover .icon{opacity:.85}
.ui.button:focus{background-color:#cacbcd;color:rgba(0,0,0,.8);background-image:!important;box-shadow:!important}
.ui.button:focus .icon{opacity:.85}
.ui.active.button:active,.ui.button:active{background-color:#babbbc;color:rgba(0,0,0,.9);box-shadow:0 0 0 1px transparent inset,none}
.ui.active.button{background-color:#c0c1c2;background-image:none;box-shadow:0 0 0 1px transparent inset;color:rgba(0,0,0,.95)}
.ui.active.button:hover{background-color:#c0c1c2;background-image:none;color:rgba(0,0,0,.95)}
.ui.active.button:active{background-color:#c0c1c2;background-image:none}
.ui.loading.loading.loading.loading.loading.loading.button{position:relative;cursor:default;text-shadow:none!important;color:transparent!important;opacity:1;pointer-events:auto;-webkit-transition:all 0 linear,opacity .1s ease;transition:all 0 linear,opacity .1s ease}
.ui.loading.button:before{position:absolute;content:'';top:50%;left:50%;margin:-.64285714em 0 0 -.64285714em;width:1em;height:1em;border-radius:500rem;border:.2em solid rgba(0,0,0,.15)}
.ui.loading.button:after{position:absolute;content:'';top:50%;left:50%;margin:-.64285714em 0 0 -.64285714em;width:1em;height:1em;-webkit-animation:button-spin .6s linear;animation:button-spin .6s linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;border-radius:500rem;border-color:#fff transparent transparent;border-style:solid;border-width:.2em;box-shadow:0 0 0 1px transparent}
.ui.labeled.icon.loading.button .icon{background-color:transparent;box-shadow:none}
@-webkit-keyframes button-spin {
from{-webkit-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes button-spin {
from{-webkit-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.ui.basic.loading.button:not(.inverted):before{border-color:rgba(0,0,0,.1)}
.ui.basic.loading.button:not(.inverted):after{border-top-color:#767676}
.ui.button:disabled,.ui.buttons .disabled.button,.ui.disabled.active.button,.ui.disabled.button,.ui.disabled.button:hover{cursor:default;opacity:.45!important;background-image:none!important;box-shadow:none!important;pointer-events:none}
.ui.basic.buttons .ui.disabled.button{border-color:rgba(34,36,38,.5)}
.ui.animated.button{position:relative;overflow:hidden;padding-right:0!important;vertical-align:middle;z-index:1}
.ui.animated.button .content{will-change:transform,opacity}
.ui.animated.button .visible.content{position:relative;margin-right:1.5em;left:auto;right:0}
.ui.animated.button .hidden.content{position:absolute;width:100%;top:50%;left:auto;right:-100%;margin-top:-.5em}
.ui.animated.button .hidden.content,.ui.animated.button .visible.content{-webkit-transition:right .3s ease 0;transition:right .3s ease 0}
.ui.animated.button:focus .visible.content,.ui.animated.button:hover .visible.content{left:auto;right:200%}
.ui.animated.button:focus .hidden.content,.ui.animated.button:hover .hidden.content{left:auto;right:0}
.ui.vertical.animated.button .hidden.content,.ui.vertical.animated.button .visible.content{-webkit-transition:top .3s ease,-webkit-transform .3s ease;transition:top .3s ease,transform .3s ease}
.ui.vertical.animated.button .visible.content{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);right:auto}
.ui.vertical.animated.button .hidden.content{top:-50%;left:0;right:auto}
.ui.vertical.animated.button:focus .visible.content,.ui.vertical.animated.button:hover .visible.content{-webkit-transform:translateY(200%);-ms-transform:translateY(200%);transform:translateY(200%);right:auto}
.ui.vertical.animated.button:focus .hidden.content,.ui.vertical.animated.button:hover .hidden.content{top:50%;right:auto}
.ui.fade.animated.button .hidden.content,.ui.fade.animated.button .visible.content{-webkit-transition:opacity .3s ease,-webkit-transform .3s ease;transition:opacity .3s ease,transform .3s ease}
.ui.fade.animated.button .visible.content{left:auto;right:auto;opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.ui.fade.animated.button .hidden.content{opacity:0;left:0;right:auto;-webkit-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5)}
.ui.fade.animated.button:focus .visible.content,.ui.fade.animated.button:hover .visible.content{left:auto;right:auto;opacity:0;-webkit-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75)}
.ui.fade.animated.button:focus .hidden.content,.ui.fade.animated.button:hover .hidden.content{left:0;right:auto;opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.ui.inverted.button{box-shadow:0 0 0 2px #fff inset!important;background:0 0;color:#fff;text-shadow:none!important}
.ui.inverted.buttons .button{margin:0 0 0 -2px}
.ui.inverted.buttons .button:first-child{margin-left:0}
.ui.inverted.vertical.buttons .button{margin:0 0 -2px}
.ui.inverted.vertical.buttons .button:first-child{margin-top:0}
.ui.inverted.button.active,.ui.inverted.button:focus,.ui.inverted.button:hover{background:#fff;box-shadow:0 0 0 2px #fff inset!important;color:rgba(0,0,0,.8)}
.ui.inverted.button.active:focus{background:#dcddde;box-shadow:0 0 0 2px #dcddde inset!important;color:rgba(0,0,0,.8)}
.ui.labeled.button:not(.icon){display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;background:0 0!important;padding:0!important;border:none!important;box-shadow:none!important}
.ui.labeled.button>.button{margin:0}
.ui.labeled.button>.label{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin:0 0 0 -1px !important;font-size:1em;border-color:rgba(34,36,38,.15)}
.ui.labeled.button>.tag.label:before{width:1.85em;height:1.85em}
.ui.labeled.button:not([class*="left labeled"])>.button{border-top-right-radius:0;border-bottom-right-radius:0}
.ui.labeled.button:not([class*="left labeled"])>.label,.ui[class*="left labeled"].button>.button{border-top-left-radius:0;border-bottom-left-radius:0}
.ui[class*="left labeled"].button>.label{border-top-right-radius:0;border-bottom-right-radius:0}
.ui.facebook.button{background-color:#3b5998;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.facebook.button:hover{background-color:#304d8a;color:#fff;text-shadow:none}
.ui.facebook.button:active{background-color:#2d4373;color:#fff;text-shadow:none}
.ui.ok.button{background-color:#ed812b;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.ok.button:hover{background-color:#F7AE69;color:#fff;text-shadow:none}
.ui.ok.button:active{background-color:#f59944;color:#fff;text-shadow:none}
.ui.twitter.button{background-color:#0084b4;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.twitter.button:hover{background-color:#00719b;color:#fff;text-shadow:none}
.ui.twitter.button:active{background-color:#005f81;color:#fff;text-shadow:none}
.ui.mr.button{background-color:#168de2;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.mr.button:hover{background-color:#00719b;color:#fff;text-shadow:none}
.ui.mr.button:active{background-color:#005f81;color:#fff;text-shadow:none}
.ui.mr.button{background-color:#168de2;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.mr.button:hover{background-color:#00719b;color:#fff;text-shadow:none}
.ui.mr.button:active{background-color:#005f81;color:#fff;text-shadow:none}
.ui.google-plus.button{background-color:#dc4a38;color:#fff;text-shadow:none;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.google-plus.button:hover{background-color:#de321d;color:#fff;text-shadow:none}
.ui.google-plus.button:active{background-color:#bf3322;color:#fff;text-shadow:none}
.ui.vk.button{background-color:#4D7198;color:#fff;background-image:none;box-shadow:0 0 0 0 rgba(34,36,38,.15) inset}
.ui.vk.button:hover{background-color:#41648a;color:#fff}
.ui.vk.button:active{background-color:#3c5876;color:#fff}
.ui.button>.icon:not(.button){height:.85714286em;opacity:.8;margin:0 .42857143em 0 -.21428571em;-webkit-transition:opacity .1s ease;transition:opacity .1s ease}
.ui.button>.right.icon:not(.button){margin:0 -.21428571em 0 .42857143em}
@font-face

{font-family:'fontello';src:url(../fonts/fontello.ttf) format("truetype");font-weight:400;font-style:normal}

[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-shadow:1px 1px 1px rgba(127,127,127,0.3)}
.icon-vkontakte:before{content:'\e801'}
.icon-facebook:before{content:'\e806'}
.icon-twitter:before{content:'\e800'}
.icon-livejournal:before{content:'\e80f'}
.icon-odnoklassniki:before{content:'\e807'}
.icon-moimir:before{content:'\e80d'}
.icon-google-plus:before{content:'\e80e'}
.icon-linkedin:before{content:'\e80b'}
.icon-tumblr:before{content:'\e80a'}
.icon-pinterest:before{content:'\e805'}
.icon-blogger:before{content:'\e803'}
.icon-digg:before{content:'\e809'}
.icon-evernote:before{content:'\e804'}
.icon-reddit:before{content:'\e808'}
.icon-delicious:before{content:'\e813'}
.icon-stumbleupon:before{content:'\e811'}
.icon-pocket:before{content:'\e80c'}
.icon-surfingbird:before{content:'\e810'}
.icon-buffer:before{content:'\e802'}
.icon-readability:before{content:'\e812'}
.icon-instapaper:before{content:'\e814'}
.icon-xing:before{content:'\e815'}
.icon-wordpress:before{content:'\e81a'}
.icon-telegram:before{content:'\e819'}
.icon-viber:before { content: '\e816'; } /* '' */
.icon-whatsapp:before { content: '\e817'; } /* '' */
.icon-line:before { content: '\e818'; } /* '' */
.socki {display: flex;justify-content:center;}

.ui.button {
    padding: 10px 10px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: #fff;
}
.ui.button:hover {
    color: #fff;
}
.ui.telegram {
    background-color: #168de2;
}

.ui.viber {
    background-color: #665cac;
}
.ui.whatsapp {
    background-color: #00e676;
}

.ui.telegram:hover {
    background-color: hsl(205, 82%, 39%);
}

.ui.viber:hover {
    background-color: hsl(248, 33%, 42%);
    color: #fff !important;
}
.ui.whatsapp:hover {
    background-color: hsl(151, 100%, 35%);
}

.socki {
    position: absolute;
    display: block;
     right: -48px; 
    top: 250px;
}
.goodshare {
    margin-bottom: 5px !important;
    display: block !important;
}