* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  background-color: #1b1b1b;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.shrift--wrp {
  max-width: 1000px;
  margin: auto;
}
.result,
.shrift--wrp .input-text {
  /* position: relative; */
  padding: 12px;
  box-shadow: 0px 0px 10px #333;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #cfcfcf 100%);
  /* z-index: 20; */
}
.section--wrp {
  position: relative;
  /* z-index: 50; */
}

.result::before,
.box::before,
.input-text::before {
  content: "1";
  position: absolute;
  top: 20px;
  left: -30px;
  background-color: #e43c3c;
  padding: 5px 50px 5px 10px;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -10;
}
.box::before {
  content: "2";
}
.result::before {
  content: "3";
}

#text {
  width: 99%;
  border: none;
  background: transparent;
  border-radius: 10px;
  display: block;
  height: 40px;
  font-size: 22px;
  font-family: Helvetica;
  padding-left: 10px;
  text-shadow: #fff 1px 1px 2px;
  position: relative;
}
#text::placeholder {
  color: #000;
}

.main {
  display: flex;
  /* flex-grow: 0; */
  flex-wrap: wrap;
}

.card {
  flex-grow: 1;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #222;
  text-shadow: 1px 1px 0px #bbb;
  background-image: -webkit-linear-gradient(bottom, #868686 0%, #dbdbdb 100%);
  padding: 10px 11px;
  box-shadow: 0px 0px 10px #444;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-right: 1px;
  position: relative;
}
.card::after {
  /* background-image: -webkit-linear-gradient(bottom, #868686 0%, #dbdbdb 100%); */
  content: "";
  background-color: #8e8e8e;
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: -40px;
  
}
.main .card.activeCard::after {
  background-color: #c9c9c9;
  

}


.main .card.activeCard {
  background-image: -webkit-linear-gradient(bottom, #c1c1c1 0%, #ffffff 100%);
}

.box {
  box-shadow: 0px 0px 10px #333;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #cfcfcf 100%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 20;
  padding: 20px;
}

.baner {
  margin-bottom: 20px;
}

.baner img {
  box-shadow: 0 0 10px 5px #a0a0a0;
  width: 100%;
  border-radius: 10px;
}

/* Бокс шрифтов */
.box__shrift {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shrift {
  height: 60px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: all 0.2s;
  background-color: #fff;

}

.shrift:hover {
  box-shadow: 0 0 10px 1px #e32929e6;
  transform: scale(1.1);
  cursor: pointer;
}
.shrift:active {
  transform: scale(0)
}

.icon {
  fill: #fff;
  background-color: #e32929e6;
  height: 60px;
  width: 60px;
  padding: 15px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.font_img {
  height: 60px;
  /* margin-left: -4px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.result {
  padding: 0;
}

#canvas {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto;
  display: block;
  /* background-color: #000; */
}
.result--box {
  padding: 20px;
  min-height: 200px;
  background: #717171;
  box-shadow: inset 0px 0px 10px #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.corect-text {
  box-shadow: 0px 0px 10px #333;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.corect-text .title {
  /* vertical-align: middle; */
  /* line-height: 1; */
  background: url(../images/icon/text.png) no-repeat 10px center;
  background-color: #f5f5f5;
  padding: 10px 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.corect-text .title img {
  width: 20px;
}

.corect-text .write-box {
  position: relative;
  padding: 15px;
}

.corect-text .write-box .write {
  padding: 10px 16px;
  border: none;
  width: 96%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
}
.corect-text .write-box button {
  height: 44px;
  width: 44px;
  display: inline-block;
  border: none;
  position: absolute;
  top: 15px;
  right: 11px;
  background-color: #e03838;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: url(../images/icon/refresh.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.corect-text .write-box button:hover {
  background-color: hsl(0, 68%, 50%);
  cursor: pointer;
}
.corect-text .write-box button:active {
  transform: scale(0.9);
  background-color: hsl(0, 68%, 46%);
}

.size .title {
  background-image: url(../images/icon/font-size.png);
  fill: #fff;
}

.size .write-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.size .write-box p {
  width: 70px;
  text-align: center;
  margin-bottom: 10px;
}
.size .write-box button {
  position: static;
  border-radius: 5px;
  margin-bottom: 5px;
  top: 0;
  left: 0;
  background-image: url(../images/icon/font-size.png);
  /* fill: #ccc; */
  background-size: 100%;
  background-position: center center;
}

.size .write-box p:nth-of-type(1) button {
  background-size: 30%;
}
.size .write-box p:nth-of-type(2) button {
  background-size: 40%;
}
.size .write-box p:nth-of-type(3) button {
  background-size: 50%;
}
.size .write-box p:nth-of-type(4) button {
  background-size: 60%;
}
.size .write-box p:nth-of-type(5) button {
  background-size: 70%;
}
.size .write-box p:nth-of-type(6) button {
  background-size: 80%;
}
/* Цветт текста */
.result--box .font-color {
  width: 49%;
  display: inline-block;
}
.font-bg .write-box,
.font-color .write-box {
text-align: center;
}

.font-color .title {
  background-image: url(../images/icon/font-color.png)
  
}

/* Цвет фона */
.font-bg {
  /* display: inline-block; */
  width: 49%;
  float: right;

}

.font-bg .title {
  background-image: url(../images/icon/font-bg.png)
}

.font-bg .write-box {
  /* height: 200px;; */
}

.colorpic {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 5px;  
  transition: all 0.2s;
background-color: #ffffff00;   
border: 1px solid black
}
.colorpic:hover {
  transform: scale(1.3);
  box-shadow: 0 0 20px 0 #000;
 
}

.transparent {
  background-image: url(../images/icon/transparent.PNG)
}














/* Медиа праавила */
@media(max-width: 10000px) {
  .shrift--wrp {
    padding: 0 15px
  }

}


@media(max-width: 550px) {
  .result--box .font-color,
  .result--box .font-bg {
    width: 100%;
  }

}


@media(max-width: 550px) {

  .shrift {
    height: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    transition: all 0.2s;
  
  }
   
  .icon {
    fill: #fff;
    background-color: #e32929e6;
    height: 45px;
    width: 45px;
    padding: 15px;
    box-sizing: border-box;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  .font_img {
    height: 35px;
    /* margin-left: -4px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: super;
  }

}
