* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.wrapper {
  padding-top: 30px;
  width: 900px;
  margin: auto;
  /* background-color: ghostwhite; */
}

.menu {
  font-size: 0;
  text-align: center;
  list-style: none;
  margin-bottom: 60px;
}
.menu-item {
  font-size: 14px;
  display: inline-block;
}
.menu-item-link {
  display: block;
  text-decoration: none;
  width: 150px;
  font-family: serif;
  text-transform: uppercase;
  color: #ababab;
}

.menu-item-link:hover {
  color: aqua;
}

.box {
  display: inline-block;
  width: 420px;
  height: 480px;
  margin-bottom: 130px;
}
.box:nth-child(2n-1) {
  margin-right: 60px;
}
.box:nth-child(2n) {
  margin-left: -5px;
}
.box-img {
  margin-bottom: 30px;
}
.suptitle {
  width: 408px;
  height: 25px;
  font-size: 14px;
  color: #b4ad9e;
  font-weight: 300;
  font-family: sans-serif;
  text-transform: uppercase;
}
.title {
  width: 420px;
  height: 95px;
  font-size: 30px;
  color: #626262;
  font-weight: 400;
}
.text {
  width: 420px;
  height: 78px;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
}

.load_btn {
  width: 164px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #626262;
  display: block;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  color: #626262;
  margin-bottom: 30px;
}
