* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --s: 104px;
  --w: 1170px;
}
.wrapper {
  padding-top: 38px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-wrp {
  width: var(--w);
  margin: auto;
  padding-top: 30px;
  padding: 0 15px;
}

.logo {
  float: left;
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  text-decoration: none;
  margin: 30px 0;
  padding: 0 15px;
}
.logo::first-letter {
  color: rgb(26, 188, 156);
}

.menu {
  float: right;
  list-style: none;
  margin: 40px 15px;
  padding: 0 15px;
}
.menu-item {
  float: left;
}

.menu-link {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.menu-link:hover {
  color: rgb(26, 188, 156);
}

.conteiner-fluid {
  min-width: var(--w);
}
.slider-img {
  height: 600px;
  min-width: var(--w);
  width: 100%;
  z-index: 1;
}
.slider-wrp {
  position: relative;
  height: 600px;
}

.slider {
  width: var(--w);
  margin: auto;
  height: 110px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.btn {
  width: var(--s);
  height: var(--s);
  background-color: rgb(26, 188, 156);
  opacity: 0.45;
  position: relative;
}

.btn-left {
  float: left;
  z-index: 10;
}
.btn-right {
  float: right;

  z-index: 10;
}
.btn:hover {
  opacity: 1;
}

.arrow {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
.arrow-left {
  transform: rotate(45deg);
  top: 36px;
  left: 43px;
}

.arrow-right {
  top: 36px;
  right: 43px;
  transform: rotate(220deg);
}

.img-title {
  font-family: sans-serif;
  float: left;
  color: white;
  text-transform: uppercase;
  margin: 0 60px;
}

.img-title .row1 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 25px;
  line-height: 1;
}
.img-title .row2 {
  opacity: 0.45;
}

.conteiner-fluid-down {
  background-color: #e9f0fd;
  padding-top: 100px;
  min-width: var(--w);
}

.list-card {
  margin: auto;
  padding: 0 15px;
  width: var(--w);
  box-sizing: border-box;
  padding-bottom: 100px;
}
.title {
  text-align: center;
  margin: auto;
  font-size: 48px;
  color: #515151;
  font-weight: 900;
}

.title::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 90px;
  width: 160px;
  height: 7px;
  background-color: aqua;
}
.card {
  float: left;
  margin: 0 15px;
  width: 255px;
}
.card-img {
  height: 282px;
  overflow: hidden;
  position: relative;
}

.card-item {
  float: left;
  line-height: 40px;
  color: white;
}

.card-name {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #323232;
  width: 201px;
  padding-left: 15px;
}

.card-coin {
  background-color: #8c8c8c;
  width: 54px;
  text-align: center;
}

.hover-box {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  border: 11px hsla(0, 0%, 100%, 0.795) solid;
  padding-top: 79px;
  z-index: 10;
}

.card-icon:hover {
  background-color: hsla(180, 100%, 40%);
}
.card-add {
  background-color: #323232;
}

.card:hover .hover-box {
  display: block;
}
.card:hover .card-name {
  background-color: #1abc9c;
}
.card:hover .card-coin {
  background-color: #7fd9c7;
}

.card-icon-block {
  margin: auto;
  width: 166px;
}

button {
  border: none;
  background: none;
}
.card-icon {
  float: left;

  border: 1px white solid;
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
}
.card-icon-img {
  top: 50%;
  left: 50%;
  opacity: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}
.card-repost {
  margin: 0 7px;
  margin-bottom: 10px;
}

.card-add {
  width: 164px;
}
.card-add > .card-icon {
  border: none;
}
.add-text {
  color: white;
  line-height: 50px;
}
footer {
  background-color: #323232;
  height: 88px;
  min-width: var(--w);
}
.footer-text {
  text-align: center;
  line-height: 88px;
  color: #fff;
}
