footer {
  width: $gen-wrp;
  margin: auto;
  border-top: 1px solid #e5e5e5;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #f38181;
  }
}

form {
  font-size: 0;
  vertical-align: middle;
}

input {
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;

  &[type='email'] {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-right: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1rem;
  }

  &[type='submit'] {
    width: 152px;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: bold;
  }

  &::placeholder {
    color: #e7e7e7;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
  }
}
