* {
  margin: 0;
  padding: 0;
}

.wrp {
  padding-top: 20px;
  width: 940px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 127px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu-item {
}
.menu-link {
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}
.menu-item:last-of-type .menu-link {
  padding-right: 0;
}

.menu-link:hover {
  color: #fed136;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 19px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  color: #777;
  line-height: 1;
  margin-bottom: 80px;
}

.sevices-box {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 2px solid #fed136;
  border-radius: 50%;
  margin-bottom: 28px;
}