* {
  margin: 0;
  padding: 0;
}

.wrp {
  padding-top: 20px;
  width: 940px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 127px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu-item {
}
.menu-link {
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
  font-size: 14px;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  transition: color 0.2s ;
}
.menu-item:last-of-type .menu-link {
  padding-right: 0;
}

.menu-link:hover {
  color: #fed136;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 19px;
}

.contact-box .title {
  color: #fff;
}

.subtitle {
  text-align: center;
  font-style: italic;
  color: #777;
  line-height: 1;
  font-family: "Droid_Serif";
  margin-bottom: 80px;
}

.sevices-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 2px solid #fed136;
  border-radius: 50%;
  margin-bottom: 28px;
}

.card-title {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

.card-text {
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 14px;
}

.contact-wrp {
  padding-top: 120px;
  background-color: #222;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  min-width: 940px;
}

.contact-box {
  width: 940px;
  margin: auto;
  padding-bottom: 120px;
}
.massage-box {
  display: flex;
  justify-content: space-between;
}

.push {
  width: 455px;
  height: 50px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}
.massage::placeholder,
.push::placeholder {
  color: #bbbbbb;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.massage {
  padding: 20px;
  width: 455px;
  height: 210px;
  box-sizing: border-box;
}

.send {
  display: block;
  margin: auto;
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 5px;
  background-color: #fed136;

  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.2s;

  cursor: pointer;
}
input[name="email"]:focus:invalid,
textarea[name="message"]:focus:invalid,
input[name="name"]:focus:invalid {
  outline: 2px solid red;
  transition: outline-color 0.4s;
}

input[name="email"]:focus:valid,
textarea[name="message"]:focus:valid,
input[name="name"]:focus:valid {
  outline: 2px solid green;
  transition: outline-color 0.4s;
}

.send:hover {
  transform: scale(1.05);
}

.send:active {
  transform: scale(1);
}
