* {
  margin: 0;
  padding: 0;
  /* transition: all 0.4s; */
}

/* mobail */

.header-wrp {
  width: 320px;
  margin: auto;
}
.conteiner-fluid--header {
  height: 540px;
  background: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  padding-top: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-login {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 90px;
  height: 36px;

  border-radius: 50px;
  box-sizing: border-box;
  border: 2px solid transparent;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: white;
  line-height: 36px;

  transition: border 0.4s;
}

.btn-login:hover {
  border-color: white;
}

.btn-box {
  margin-bottom: 115px;
}

.logo-name {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: white;
  /* font-size: 20px; */
  font-weight: bold;
  margin-bottom: 38px;
  text-decoration: none;
}

.title--header {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
}

.subtitle--header {
  width: 217px;
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 19px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 50px;

  transition: all 0.2s;
}

.btn-1:hover {
  color: #ff4e50;
  background-color: #fff;
}

.btn-1 {
  border: 2px solid #ff4e50;
  color: white;
  background-color: #ff4e50;
}

.wrapper {
  padding-top: 69px;
}

.title {
  text-align: center;
  width: 258px;
  margin: auto;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 15px;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-link {
}

.card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 19px;
}
.img-box {
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.4s;
}

.img-box:hover{
  transform: scale(1.2)
}

.piople {
  border-radius: 50%;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-title {
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
}

.card-discription {
  width: 217px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.btn-2:hover {
  background-color: #ff4e50;
  color: #fff;
}

.btn-2 {
  border: 2px solid #ff4e50;
  background-color: white;
  color: #ff4e50;
  display: block;
  margin: auto;
  margin-bottom: 57px;
  /* text-align: center; */
}

@media (min-width: 768px) {
  .header-wrp {
    padding-top: 30px;;
    width: 748px;
  }
  .btn-box{
    margin-bottom: 161px;
  }
  .conteiner-fluid--header {
    height: 698px;
    background: url(../img/header-bg@tablet.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    padding-top: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: flex; */
  }
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    /* flex-basis:  748px; */
    width: 748px;
  }

  .logo-name {
    /* align-items: flex-start; */
    align-self: flex-start;
    /* order: 1; */
  }

   .title--header{
     width: 498px;
     font-size: 51px;
     margin-bottom: 30px;
   }

   .subtitle--header{
     width: 405px;
     font-size: 24px;
     margin-bottom: 40px;
   }


   .title{
     width: 405px;
     margin-bottom: 33px;
   }
   .card-box{
     width: 495px;
     height: 550px;
     flex-wrap: wrap;
     margin: auto;
   
   }


}


@media (min-width: 962px){
.header-wrp{
  width: 940px;
  /* background-color: #000; */
}
.conteiner-fluid--header {
  height: 698px;
  background: url(../img/header-bg@desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  padding-top: 20px;
}

.header{
  width: 940px;
}
.card-box{
  /* flex-direction: row; */
  width: 940px;
  height: 270px;
  margin-bottom: 40px;
}

}
