.conteiner-fluid--header {
  min-width: $gen-wrp;
  background-image: linear-gradient(
      hsla(0, 83%, 73%, 0.8),
      hsla(47, 95%, 76%, 0.8)
    ),
    url(../images/wrp@1x.png);
  height: 1000px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

main {
  width: $gen-wrp;
  margin: auto;
}

.conteiner--wrapper {
  width: $gen-wrp;
  margin: auto;
}
