* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1170px;
  padding: 35px 15px 35px 15px;
  margin: 0 auto;
}

nav {
  margin-bottom: 110px;
}
.logo {
  margin-left: 15px;

  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.menu {
  display: inline-block;
  font-size: 0;
  text-align: center;
  list-style: none;
 
  margin-left: 545px;
  font-family: 'Open Sans', sans-serif;
  
}

.menu-item {
  display: inline-block;
}
.menu-link {
  padding: 0 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.menu-item:hover .menu-link {
  color: #1abc9c;
}
/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */

.title {
  font-family: "Roboto";
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 32px;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}
.title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 90px;
  width: 160px;
  height: 7px;
  background-color: aqua;
}

.gallery {
  /* display: inline-block; */
}
.card {
  display: inline-block;
  margin: 0 15px 0 15px;
  font-size: 0;
  width: 255px;
}

.card:hover .card-name {
  background-color: #1abc9c;
}
.card:hover .card-cost {
  background-color: #7fd9c7;
}
.card:nth-last-child(-n + 4) {
  margin-bottom: 105px;
}
.card-img {
  max-height: 282px;
}

.card-discription {
  /* vertical-align: middle; */
  margin-bottom: 30px;
}

.card-name {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding-left: 14px;
  color: #fff;
  background-color: #323232;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 40px;
}
.card-cost {
  display: inline-block;
  width: 55px;
  height: 40px;
  color: #fff;
  background-color: #8c8c8c;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}

.blog-box {
  display: inline-block;
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
}

.blog-img {
  margin-bottom: 15px;
}
.subtitle {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(85, 82, 82);
}

.subtitle::after {
  content: "";
  display: block;
  width: 135px;
  height: 3px;
  background-color: aqua;
  margin-top: 15px;
  margin-bottom: 30px;
}

.description {
  display: block;
  font-size: 14px;
  /* font-family: "OpenSans"; */
  color: rgb(85, 82, 82);
  line-height: 1.857;
  text-align: justify;
  padding-bottom: 15px;
}

.blog-link {
  text-decoration: none;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  display: block;
  width: 160px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
