@import "./normalize.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
}

.conteiner--fluid--header {
  min-width: 1200px;
  background-repeat: no-repeat;
  height: 1000px;
  background-position: top center;
  background-size: cover;
  background-image: linear-gradient(
      hsla(0, 83%, 73%, 0.8),
      hsl(47, 95%, 76%, 0.8)
    ),
    url(../img/wrp@1x.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
  .conteiner--fluid--header {
    background-image: linear-gradient(
        hsla(0, 83%, 73%, 0.8),
        hsl(47, 95%, 76%, 0.8)
      ),
      url(../img/wrp@2x.png);
  }
}

.conteiner--wrapper {
  padding-top: 20px;
  width: 1200px;
  margin: auto;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 176px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu_link {
  padding: 0 26px;
  color: white;
  /* padding: 26px; */
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
  position: relative;
  padding-bottom: 20px;
}

.menu-item .menu_link:hover {
  color: #fce38a;
}

.menu_link::after {
  content: "";
  transform: rotateY(90deg);
  width: 100%;
  border-bottom: 3px solid #fce38a;
  position: absolute;
  bottom: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  /* height: 2px; */
}



.menu_link:hover::after {
  transform: rotateY(0deg);
}


.menu_link--icon {
  width: 18px;
  height: 18px;
  fill: white;
}

.subtitle-top {
  font-size: 72px;
  text-transform: capitalize;
  text-align: center;
  color: white;
  /* font-family: ; */
  font-family: "Kaushan Script", serif;
  margin-bottom: 42px;
}

.title-top {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: bold;
  line-height: 140px;
  text-transform: uppercase;
  width: 802px;
  margin-bottom: 124px;
}

.link--header {
  display: block;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 40px;
  width: 160px;
  height: 40px;
  border: 3px solid white;
}

.link--header:hover {
  border-color: hsla(0, 83%, 73%, 0.8);
  color: hsla(0, 83%, 73%, 0.8);
}
/* .menu_link:nth-of-type(-n+3)::after {
  border-color: white;
} */

main {
  width: 1200px;
  margin: auto;
  padding-top: 46px;
}

.subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 22px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 66px;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

.service_box {
  display: flex;
  flex-wrap: wrap;

}
.service_box_card{
  display: flex;
  width: 380px;
  margin: 0 10px;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  margin-bottom: 117px;
  /* justify-content: center;; */
}

.service_box_card--img{
  width: 80px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  /* margin: auto; */
  justify-content: center;
  /* align-items: flex-start; */
}
.card_img {
  fill: #95e1d3;
  width: 32px;
  height: 32px;
  /* margin: auto; */
}
.card-text {
  display: flex;
  flex-direction: column;
}
.service_box_card--title {
  margin-bottom: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

}

.service_box_card--description{

  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}